extends layout

block content
    form(id='loginForm' class='form-horizontal')
        fieldset
            legend Sign in

            div(class='form-group')
                label(for='username' class='col-sm-3 control-label') Email address:
                div(class='col-sm-9')
                    input(type='email', class='form-control', id='username', placeholder='Enter email')

            div(class='form-group')
                label(for='password' class='col-sm-3 control-label') Password:
                div(class='col-sm-9')
                    input(type='password', class='form-control', id='password', placeholder='Enter password')

            div(class='form-group')
                div(class='col-sm-offset-3 col-sm-9')
                    div(class='checkbox')
                        label
                            input(type='checkbox')
                            | Remember me

            div(class='form-group')
                div(class='col-sm-offset-3 col-sm-9')
                    button(type='submit', class='btn btn-primary') Sign in
                    a(class='btn btn-link' href='/signup') Don't have an account? Sign up!

