.content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: #0088cc;
}

/* forms */
form[name='signinform'], form[name='signupform'] {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

form.modal-form {
    width: 750px;
    margin: 50px;
}

form.modal-form .form-group:last-child {
    margin-bottom: 0;
}

form.modal-confirmation-form {
    width: 310px;
    margin: 20px;
}

form.modal-form .description {
    margin-top: 5px;
}

form .modal-form-buttons > button {
    float: right;
    margin-left: 10px;
}

/* containers */
#assigned-to-me {
    margin: 10px 0 10px 0;
}

/* tasks */
.task, .task-progress, .group {
    min-height: 150px;
    min-width: 150px;
    width: 100%;
    border-radius: 5px 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: FontAwesome, sans-serif;
    overflow: auto;
}

.task:last-child:not(.single), .task-progress:last-child, .group:last-child:not(.single){
    margin-bottom: 0;
}

.task.single, .group.single {
    height: 100%;
    overflow: auto;
}

.task > h1 {
    float: left;
    max-width: 715px;
    overflow: hidden;
    display: flex;
}

.group > h1 {
    max-width: 740px;
}

.task .task-description, .task-progress .progress-description, .group .group-description {
    clear: both;
    float: left;
    width: 100%;
    padding: 5px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 5px 5px;
    margin-top: 10px;
}

.task .progress-container {
    float: right;
    display: flex;
    position: relative;
}

.task .task-info, .group .group-info, .task-progress .progress-info {
    clear: left;
    display: flex;
    float: left;
    font-size: 0.85em;
    flex-wrap: wrap;
    align-items: flex-end;
}

.task.single .task-info, .group.single .group-info {
    max-width: 745px;
}

.task .task-info-label {
    white-space: nowrap;
}

.task .task-info > div:not(.quantifiable-info), .quantifiable-info .progress-status, .quantifiable-info .units, .group .group-info > div, .progress-info > div {
    display: inline-block;
    margin-right: 20px;
    margin-top: 15px;
}

.task .task-info > div, .group .group-info > div {
    align-self: flex-start;
}

.task .task-info-label, .task-progress .progress-info-label, .group .group-info-label {
    font-weight: bold;
    font-style: italic;
}

.task .progress-value {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 130px;
    font-size: 1.6em;
    text-align: center;
    font-weight: 600;
    font-style: italic;
}

.task:hover, .task-progress:hover, .group:hover {
    cursor: pointer;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/* progress */

.task-progress {
    height: 100%;
    min-height: 0px;
}

.task-progress > .progress-value {
    float: right;
    display: flex;
    max-width: 500px;
    font-size: 50px;
    margin: 10px;
}

.task-progress > .date-commited {
    float: left;
    display: flex;
    max-width: 250px;
}

.task-progress > .progress-description {
    margin-top: 0;
}

.task-progress .progress-info {
    display: flex;
    clear: left;
    float: left;
}

.task-progress .progress-info > div {
    display: inline-flex;
    margin-top: 0px;
}

.task-progress .progress-info-label {
    margin-right: 10px;
}

/* colors */

.progress-remove-button{
    color: #e5e5e5;
    display: inline-block;
    line-height: 24px;
    margin-left: 2px;
    vertical-align: top;
}

.progress-remove-button:hover {
    color: #ffffff;
}

.panel-administrator {
    border-color: #398439;
}

.panel-administrator > .panel-heading {
    border-color: #398439;
    color: #FFFFFF;
    background-color: #449d44;
}

.panel-member {
    border-color: #4cae4c;
}

.panel-member > .panel-heading {
    border-color: #4cae4c;
    color: #FFFFFF;
    background-color: #5cb85c;
}

.panel-invitations {
    border-color: #5CB85C;
}

.panel-invitations > .panel-heading {
    border-color: #5CB85C;
    color: #FFFFFF;
    background-color: #76D276;
}

.panel-subtasks {
    border-color: #204d74;
}

.panel-subtasks > .panel-heading {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.panel-progress {
    border-color: #2e6da4;
}

.panel-progress > .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.panel-log {
    border-color: #269abc;
}

.panel-log > .panel-heading {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.ng-invalid.ng-dirty {
    border-color: #FF4848;
}

.ng-valid.ng-dirty {
    border-color: #1FCB4A;
}

.error-container .error {
    color: #FF4848;
}

.success-container .success {
    color: #1FCB4A;
}

a {
  color: #2966B8
}

/* margins */

#task-commands button.left {
    margin-right: 10px;
}

#task-commands button.right {
    margin-left: 10px;
    float: right;
}

#group-commands button.right {
    margin-left: 10px;
    float: right;
}

/* overrides */

.progress {
    width: 98%;
    display: inline-block;
    padding: 2px;
    height: 24px;
    margin-bottom: 0px;
    font-weight: bold;
}

@media (min-width: 992px) {
    .container {
        width: 830px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 930px;
    }
}

#accordion {
    min-width: 180px;
}

span.minicolors-swatch-color {
    border: 1px solid #ccc;
}

.btn-submit {
    color: #fff;
    background-color: #FF7373;
    border-color: #FF5353;
}

.modal-lg {
    width: 850px;
}

.modal-sm {
    width: 350px;
}

.btn-toolbar > .btn-group {
    margin-bottom: 5px;
}

.alert {
    margin-top: 20px;
}

/*.btn-primary {*/
    /* color: #fff; */
    /* background-color: #337ab7; */
    /* border-color: #2e6da4; */
/*}*/