body {
  padding: 50px;
}

form[name='signinform'], form[name='signupform'] {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

form[name='newtaskform'] {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

form[name='newtaskform'] .create-new-task-buttons > button {
    float: right;
    margin-left: 10px;
}

.task {
    height: 150px;
    width: 100%;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 10px 10px;
    padding: 10px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}

.task h1 {
    float: left;
}

.task div.percentage-done {
    float: right;
    font-size: 35px;
}

.created {
    background-color: #FFDD75;
    border-color: #FFDD75;
}

.created:hover {
    background-color: #FFC848;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.ng-invalid.ng-dirty {
    border-color: #FF4848;
}

.ng-valid.ng-dirty {
    border-color: #1FCB4A;
}

.error-container .error {
    color: #FF4848;
}

.success-container .success {
    color: #1FCB4A;
}

a {
  color: #2966B8
}

/*Ovverides*/
.btn-submit {
    color: #fff;
    background-color: #FF7373;
    border-color: #FF5353;
}
/*.btn-primary {*/
    /* color: #fff; */
    /* background-color: #337ab7; */
    /* border-color: #2e6da4; */
/*}*/