body {
  padding: 50px;
}

form[name='login'], form[name='signup'] {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.ng-invalid.ng-dirty {
    border-color: #FF4848;
}

.ng-valid.ng-dirty {
    border-color: #1FCB4A;
}

.error-container .error {
    color: #FF4848;
}

.success-container .success {
    color: #1FCB4A;
}

a {
  color: #2966B8
}

/*Ovverides*/
.btn-submit {
    color: #fff;
    background-color: #FF7373;
    border-color: #FF5353;
}
/*.btn-primary {*/
    /* color: #fff; */
    /* background-color: #337ab7; */
    /* border-color: #2e6da4; */
/*}*/